.header-img{
    background-image: url(../img/laptop-1571702_1920.jpg);
}

.about-us{
    background-image: url(../img/office-1209640_1920.jpg);
}

.price{
    background-image: url(../img/computer-2982270_1920.jpg);
}

.contact{
    background-image: url(../img/laptop-3196481_1920.jpg);
}